<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<!-- 常规赋值方法：
<bean id="customerBean" class="by.spring.inner.bean.example.Customer">
<property name="person" ref="personBean" />
</bean>

<bean id="personBean" class="by.spring.inner.bean.example.Person">
<property name="name" value="Jim"/>
<property name="add" value="USA"/>
<property name="age" value="18"/>
</bean>
 -->
<!-- 
内部类赋值方式：

 <bean id="customerBean" class="by.spring.inner.bean.example.Customer">
		<property name="person">
			<bean class="by.spring.inner.bean.example.Person">
				<property name="name" value="mkyong" />
				<property name="add" value="address1" />
				<property name="age" value="28" />
			</bean>
		</property>
	</bean>
	 -->
	 <!-- 
	 内部类赋值方式二：
	  -->
	 <bean id="customerBean" class="by.spring.inner.bean.example.Customer">
		<constructor-arg>
			<bean class="by.spring.inner.bean.example.Person">
				<property name="name" value="mkyong" />
				<property name="add" value="address1" />
				<property name="age" value="28" />
			</bean>
		</constructor-arg>
	</bean>
	 
 
</beans>

